{# Section 6: Risks #}
Section 6

There can be risks associated with joining any research study. The type of risk may impact whether you decide to join the study. For this study, some of these risks may include {{ key_risks }}. More detailed information will be provided later in this document.